ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    border: 2px solid black;
    padding: 20px;
}

li{
    list-style-type: none;
   margin: 10px;
   font-size: large;
}